.container {
    width: 100%;
    max-width: 1000px;
    @media screen and (min-width:768px) {
        min-width: 800px;
    }
}

.listHead {
    width: inherit;
    display: flex;
    justify-content: space-around;
}

.listBody {
    width: inherit;
    list-style: none;
    padding:0;
}